PORT = 3000
GEMINI_API_KEY_1 = 
GEMINI_API_KEY_2 =
GEMINI_API_KEY_3 =
GEMINI_API_KEY_4 =
GEMINI_API_KEY_5 =
MIDTRANS_MERCHANT_ID =
MIDTRANS_CLIENT_KEY =
MIDTRANS_SERVER_KEY =
TRANSCRIPT_API_KEY =
FONNTE_TOKEN =
SUPABASE_SERVICE_KEY =
ADMIN_EMAIL =
ADMIN_EMAIL_PASSWORD =
